html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.navbar-brand {
    font-weight: 400;
}

.nav-link {
    font-weight: 600;
    font-size: 18px;
}
.nav-link:hover {
    color: white;
}
.card {
    width: 100%;
}
footer {
    background-color: rgb(41, 41, 41);
    margin-top: auto;
}
.footer-row {
    width: 100%;
}
.footer-row p {
    color: whitesmoke;
    font-weight: 400;
    padding-top: 30px;
    padding-bottom: 10px;
}
.passul {
    list-style: none;
    font-size: 12px;
    padding-left: 0px;
    padding-top: 10px;
    color: #858585;
    font-weight: 600;
}
@media (max-width: 767px) {
    .card {
        margin-top: 20px;
    }
}
.navbar-brand {
    width: 30%;
    padding: 0;
}
.navbar-brand .logo {
    width: 60%;
    height: auto;
}


@media (max-width: 767px) {
    .card {
        margin-top: 20px;
    }
}
.my-btn {
    background-color: #25354C;
    border: 1px solid #25354C;
    color: white;
    transition: 0.3s all;
    padding: 10px 20px;
}

.my-btn:hover, .btn:hover, .btn:active, .btn:focus {
    background-color: #192536;
    border: 1px solid #1e2b3d;
    color: white;
    transition: 0.3s all;

}
.card-link {
    color: #1e2b3d;
    font-weight: 700;
    text-transform: lowercase;
}
.card-link:hover {
    color: #1e2b3d;
    font-weight: 700;
    text-transform: lowercase;
    text-decoration: underline;

}
.link-f {
    color: white;
    cursor: pointer;
}
.link-f:hover {
    color: white;
    text-decoration: none;
    text-decoration: underline;

}

.lable {
    margin-bottom: 0;
}
.my-link-btn {
    color: #1e2b3d;
    background: none;
    border: none;
}
.my-link-btn:focus {
    border: none;
    outline: none;

}