{% extends 'handler/base.html' %}
{% block head %}
<link rel="stylesheet" href="">
{% endblock head %}
{% block content %}
<div class="container">
    <div class="row mt-4">
        <div class="col-md-12">
            <h3>Hello, {{ user.first_name }}</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
        {% if groups %}
            <div class="row">
                <div class="col">
                    <h4>Groups and students</h3>
                </div>
            </div>
            {% if messages %}
            <div class="row ">
                <div class="col"> 
                {% for message in messages %}
                    <p class="alert alert-success">{{message}}</p>
                {% endfor %}  
                </div>                                
            </div>
            {% endif %}


            <div class="accordion" id="accordionExample">
                {% for group in groups %}
                <div class="card">
                  <div class="card-header" id="heading{{forloop.counter}}">
                    <h5 class="mb-0">
                      <button class=" my-link-btn" type="button" data-toggle="collapse" data-target="#collapse{{forloop.counter}}" aria-expanded="true" aria-controls="collapse{{forloop.counter}}">
                        {{ group.name }}
                      </button>
                    </h5>
                  </div>
              
                  <div id="collapse{{forloop.counter}}" class="collapse" aria-labelledby="heading{{forloop.counter}}" data-parent="#accordionExample">
                    <div class="card-body">
                        {% if group.getStudents %}
                        <div class="row">
                            <div class="col">
                                <table class="table table-borderless">
                                    <thead>
                                      <tr>
                                        <th scope="col">Student</th>
                                        <th scope="col">Actions</th>
    
                                      </tr>
                                    </thead>
                                    <tbody>
                                        {% for student in group.getStudents %}
                                        <tr>
                                            <td>{{ student.lastname }} {{ student.name }}</td>
                                            <td>
                                                <a class="card-link" href="/student/comments/?code={{student.unique_code}}">View comments</a>
                                            </td>
    
    
                                            <td>
                                                <a class="card-link" href="{% url 'create_comment' student.id %}">Write comment</a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        {% else %}
                        <h6>There are no students in this group</h6>
                        {% endif %}
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            
    
        {% else %}
        <div class="alert alert-info" role="alert">
            Ученики и группы не добавлены    
        </div>
        {% endif %}
        </div>
    </div>
</div>
{% endblock content %}


